body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url("bg-image.jpg");
}

#top h1{
    font-size: 42px;
    color: blue;
}

#top p{
    font-size: 20px;
    color: blue;
}

#main{
    background-color: black;
    color: white;
    margin: auto;
    width: 600px;
    box-shadow: 1px 1px 10px 3px rgb(74, 3, 240);
    min-height: 210px;
    margin-top: 30px;
}

#todo-item{
    width: 80%;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    height: 50px;
    border: none;
    background-color: black;
    margin-top: 15px;
    border: 1px solid blue;
    text-align: center;
    border-radius: 25px;
}

#todo-item:focus{
    box-shadow: 0px 0px 18px 5px rgb(74, 3, 240);
}

.big-btn{
    margin: 10px 5px;
    width: 220px;
    height: 50px;
    background-color: black;
    border: 2px solid blue;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px 2px rgb(74, 3, 240);
}

#main ul{
    list-style-type: lower-alpha;
}

#main ul li{
    font-size: 18px;
}

.small-btn{
    margin: 5px;
    width: 80px;
    height: 33px;
    background-color: black;
    border: 1px solid blue;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px 2px rgb(74, 3, 240);
}
